@model QLTHUVIEN.Models.Sach



<div class="Customer">
    <br style="height: 100px; content: ''; display: block;">
    <h2>Chi tiết sách</h2>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Mã Sách</dt>
            <dd class="col-sm-10">@Model.Masach</dd>

            <dt class="col-sm-2">Tên Sách</dt>
            <dd class="col-sm-10">@Model.Tensach</dd>

            <dt class="col-sm-2">Mã Tác Giả</dt>
            <dd class="col-sm-10">@Model.MatgNavigation.Tentg</dd>

            <dt class="col-sm-2">Tên Lĩnh Vực</dt>
            <dd class="col-sm-10">@Model.Tenlinhvuc</dd>

            <dt class="col-sm-2">Tên Loại Sách</dt>
            <dd class="col-sm-10">@Model.MaloaisachNavigation.Tenloaisach</dd>

            <dt class="col-sm-2">Giá Mua</dt>
            <dd class="col-sm-10">@Model.Giamua</dd>

            <dt class="col-sm-2">Giá Bìa</dt>
            <dd class="col-sm-10">@Model.Giaban</dd>

            <dt class="col-sm-2">Lần Tái Bản</dt>
            <dd class="col-sm-10">@Model.Lantaiban</dd>

            <dt class="col-sm-2">Nhà Xuất Bản</dt>
            <dd class="col-sm-10">@Model.Tennhaxuatban</dd>

            <dt class="col-sm-2">Năm Xuất Bản</dt>
            <dd class="col-sm-10">@Model.Namxuatban</dd>
        </dl>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Masach" class="btn btn-primary">Sửa</a>
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </div>
</div>
